


.text{
    font-size: 18px;
    text-align: center;
    color: #C4C5C5;
    margin: 30px;

}

.signin{
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #0077FF;
}